<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='css/my_style.css')}}">

  <title>Dojo Survey</title>

</head>
<body>
    <div id='container'>
    <form action='/user' method="post">

      Your Name: <input type="text" name="name">

      Dojo Location
        <select name="location">
          <option value="Seattle">Seattle</option>
          <option value="Russia">Russia</option>
          <option value="Korea">Korea</option>
            </select>

      Favorite Langauge:
        <select name="lang">
          <option value="English">English</option>
          <option value="Russian">Russian</option>
          <option value="Korean">Korean</option>
        </select>

      Comment (Optional) <input type="textarea" name="textbox" col="5" row="50">
      <input type="submit" value="Submit">
      </form>
  </div>
</body>
</html>
